<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>To do</h1>
<form action="" method="post">

    {% csrf_token %}
<!--    # token that identifies user (by cookies)-->
    {{ form.as_p }}
<!--    # display as separate paragraphs-->
    <button type="submit">Add task</button>
</form>
    <form action="{% url 'todo:filter' 'all' %}" method="get">
        {% csrf_token %}
        <button type="submit">Show all tasks</button>
    </form>

        <form action="{% url 'todo:filter' 'done' %}" method="get">
        {% csrf_token %}
        <button type="submit">Show done tasks</button>
    </form>

        <form action="{% url 'todo:filter' 'ongoing' %}" method="get">
        {% csrf_token %}
        <button type="submit">Show ongoing tasks</button>
    </form>



<h2>Ongoing tasks</h2>

<ul>
    {% for task in task_list %}

    <li>
    {{ task }}
        <form action="{% url 'todo:delete' task.pk %}" method="get">
            {% csrf_token %}
            <button type="submit">Delete task</button>
        </form>
<!--        <a href="{% url 'todo:delete' task.pk %}" >Delete task</a>-->
        <form action="{% url 'todo:done' task.pk %}" method="post">
            {% csrf_token %}
<!--            <a href="{% url 'todo:done' task.pk %}">Task done</a>-->
            <button type="submit" >Task done</button>
        </form>
    </li>

    {% endfor %}
</ul>
</body>
</html>